body{
	margin: 0;
	background-color: #fff;
	background-image: url(../img/bgr.png);
	-webkit-background-size: cover;
	background-size: cover;
	text-align: center;
	font-size: 60px;
	/*height: 100vh;*/
}

.foot{
	font-size: 20px;
	color: #330404;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%,0);*/
}

canvas{
	margin-top: 5%;
	position: absolute;
	/*margin-left: 50%;*/
	transform: translate(-50%,0);*/
	border: 3px solid #000;
	-webkit-box-shadow: 0 0 0 10 #000;
	box-shadow: 0 0 20px #000;
}
